<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test cases">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter"></listener>
		<listener class-name="com.apoorv.listeners.CustomListeners"></listener>
		<listener class-name="com.apoorv.listeners.ExtentListeners"></listener>
	</listeners>

	<test thread-count="5" name="Login Test">
		<classes>
			<class name="com.apoorv.testcases.BankManagerLoginTest" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="Open account Test">
		<classes>
			<class name="com.apoorv.testcases.OpenAccountTest" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->